<div class="col-sm-9">
    <div  ng-show="results">
    <table class="table">
        <tr>
            <th>City From</th>
            <th>City To</th>
            <th>Price per one</th>
        </tr>
    </table>
    <table class="table" ng-repeat="result in results">
        <tr ng-repeat="flight in result.flights">
            <td>{{flight.from}}</td>
            <td>{{flight.to}}</td>
            <td>{{flight.price}}</td>
        </tr>
        <tr>
            <td><a class="btn btn-warning" ng-click="addToCart(result.flights)">Add</a></td>
        </tr>
    </table>
    </div>
</div>

<div class="col-sm-3">
    <h1>Our Cities</h1>
    <h3>Choose your flight</h3>
    <form ng-submit="search()">
        <div class="from-group">
            <label>Go from:</label>
            <select ng-model="searchForm.from" class="form-control col-xs-3">
                <option value="">Choose your option</option>
                <option ng-repeat="city in cities" value="{{city.rid}}">{{city.name}}</option>
            </select>
        </div>
        <div class="from-group">
            <label>Go to:</label>
            <select ng-model="searchForm.to" class="form-control col-xs-3">
                <option value="">Choose your option</option>
                <option ng-repeat="city in cities" value="{{city.rid}}">{{city.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Number of passenger</label>
            <input class="form-control col-xs-2" ng-model="searchForm.quantity" type="number" name="quantity"
                   min="1" max="10" value="1">
        </div>
        <div class="form-group">
            <label>Departure Date</label>
            <input class="form-control col-xs-2" ng-model="searchForm.startDate" type="date">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg" type="submit">
                <i class="fa fa-search"></i>
                <span>Find</span>
            </button>
        </div>
    </form>
</div>