<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <!-- social media tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@joshdmiller">
  <meta name="twitter:title" content="ngBoilerplate">
  <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
  <meta name="twitter:creator" content="@joshdmiller">
  <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
  <meta property="og:title" content="ngBoilerplate" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
  <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
  <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- font awesome from BootstrapCDN -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body>
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" ui-sref="home">Brand</a>
    <ul class="nav navbar-nav navbar-right" ng-show="loginService.isLogged()">
      <li><a ng-click="loginService.logout()" >Logout</a></li>
      <li><a ui-sref="flights">Flights</a></li>
      <li><a ui-sref="cities">Cities</a></li>
      <li><a ui-sref="lineItem">Line Items</a></li>
      <li><a ui-sref="planes">Planes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="loginService.isLogged()">
      <li><a ui-sref="login">Admin</a></li>
      <li><a ui-sref="cart">Cart</a></li>
    </ul>
    <ul class="nav nav-bar"></ul>
  </nav>
  <div ui-view="main"></div>
</body>
</html>