<div ng-show="items">
    <h1>Cart items:</h1>
    <table class="table" >
        <tr>
            <th>Id</th>
            <th>City To</th>
            <th>City From</th>
            <th>Price per one</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="item in items track by $index">
            <td>{{item.rid}}</td>
            <td>{{item.to}}</td>
            <td>{{item.from}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td><button class="btn btn-danger" ng-click="remove(item)">Remove</button></td>
        </tr>
    </table>
    <div>
        Total Price {{totalPrice()}}
        <a ng-click="clear()" class="btn btn-primary btn-lg">Clear</a>
        <a ui-sref="entryData" class="btn btn-success btn-lg">Buy</a>
        <a ui-sref="home" class="btn btn-warning btn-lg">Back</a>
    </div>
</div>
<div ng-hide="items">
    <h1>Cart is empty</h1>
</div>