<div class="row">
    <div class="col-sm-5">
        <form ng-submit="buy()" class="m-a-1">
            <div class="form-group">
                <lable>First Name</lable>
                <input type="text" ng-model="data.first_name" class="form-control col-sm-4" placeholder="First Name"/>
            </div>
            <div class="form-group">
                <lable>Last Name</lable>
                <input type="text" ng-model="data.last_name" class="form-control col-sm-4" placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <lable>Email</lable>
                <input type="text" ng-model="data.email" class="form-control col-sm-4" placeholder="Email"/>
            </div>
            <button class="btn btn-success btn-lg" type="submit">
                <i class="fa "></i>
                <span>Buy</span>
            </button>
        </form>
    </div>
    <div class="col-sm-7">
        <table class="table" ng-show="items">
            <tr>
                <th>Number of Reservation</th>
                <th>Quantity</th>
            </tr>
            <tr ng-repeat="item in items track by $index">
                <td>{{item.hashCode}}</td>
                <td>{{item.quantity}}</td>
            </tr>
        </table>
    </div>
</div>