<div>
    <div class="col-sm-9">
        <h1>All cities</h1>
        <table class="table">
            <tr>
                <th>RID</th>
                <th>Name</th>
            </tr>
            <tr ng-repeat="city in cities">
                <td>{{city.rid}}</td>
                <td>{{city.name}}</td>
                <td><a ng-click="removeCity(city)" class="btn btn-danger">Delete</a>
                <td><a ng-click="updateClick(city)" class="btn btn-primary">Update</a></td>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3" ng-hide="updating">
        <h1>Add city</h1>
        <form ng-submit="save()">
            <div class="form-group">
                <label>Name Of city</label>
                <input type="text" ng-model="city.name" class="form-control col-xs-3"/>
            </div>
            <button class="btn btn-success">Add</button>
        </form>
    </div>
    <div class="col-sm-3" ng-show="updating">
        <h1>Update city with rid {{updatedCity.rid}}</h1>
        <form ng-submit="update()">
            <div class="form-group">
                <label>Name Of city</label>
                <input type="text" ng-model="updatedCity.name" class="form-control col-xs-3"/>
            </div>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
</div>