<div>
    <h1>Please enter your password</h1>
    <form ng-submit ="loginService.login(password)" class="col-xs-5">
        <div class="from-group">
            <label>Password:</label>
            <input type="password" class="form-control col-xs-2" ng-model="password" name="password">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>