<div>
    <div class="col-sm-9">
        <h2>All Flights</h2>
        <table class="table">
            <tr>
                <th>RID</th>
                <th>To</th>
                <th>From</th>
                <th>Arrive Date</th>
                <th>Departure Date</th>
            </tr>
            <tr ng-repeat="flight in flights">
                <td>{{flight.rid}}</td>
                <td>{{flight.to}}</td>
                <td>{{flight.from}} </td>
                <td>{{flight.arriveDate | date:'MMM d, y HH:mm:ss'}}</td>
                <td>{{flight.departureDate | date:'MMM d, y HH:mm:ss'}}</td>
                <td><a ng-click="removeFlights(flight)" class="btn btn-danger">Delete</a>
                <td><a ng-click="updateClick(flight)" class="btn btn-primary">Update</a></td>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3" ng-hide="updating">
        <h1>Flights</h1>
        <h1>Add Plane</h1>
        <form ng-submit="save()">
            <div class="from-group">
                <label >Go from:</label>
                <select ng-model="flight.from" class="form-control col-xs-3">
                    <option value="">Choose your option</option>
                    <option ng-repeat="city in cities" value="{{city.rid}}">{{city.name}}</option>
                </select>
            </div>
            <div class="from-group">
                <label>Go to:</label>
                <select  ng-model="flight.to" class="form-control col-xs-3">
                    <option value="">Choose your option</option>
                    <option ng-repeat="city in cities" value="{{city.rid}}">{{city.name}}</option>
                </select>
            </div>
            <div class="from-group">
                <label>Plane:</label>
                <select  ng-model="flight.plane" class="form-control col-xs-3">
                    <option value="">Choose your option</option>
                    <option ng-repeat="plane in planes" value="{{plane.rid}}">{{plane.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Price:</label>
                <input type="text" ng-model="flight.price" class="form-control col-xs-3"/>
            </div>
            <div class="form-group">
                <label>Arrive Date:</label>
                <input type="date" ng-model="flight.arriveDate" class="form-control col-xs-3"/>
            </div>
            <div class="form-group">
                <label>Departure Date:</label>
                <input type="date" ng-model="flight.departureDate" class="form-control col-xs-3"/>
            </div>
            <button class="btn btn-success">Add</button>
        </form>
    </div>
    <div class="col-sm-3" ng-show="updating">
        <h1>Update Flight with rid {{updatedFlight.rid}}</h1>
        <form ng-submit="update()">
            <div class="from-group">
                <label >Go from:</label>
                <select ng-model="updatedFlight.from" class="form-control col-xs-3">
                    <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
                </select>
            </div>
            <div class="from-group">
                <label>Go to:</label>
                <select  ng-model="updatedFlight.to" class="form-control col-xs-3">
                    <option value="">Choose your option</option>
                    <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
                </select>
            </div>
            <div class="from-group">
                <label>Plane:</label>
                <select  ng-model="updatedFlight.plane" class="form-control col-xs-3">
                    <option value="">Choose your option</option>
                    <option ng-repeat="plane in planes" value="{{plane.rid}}">{{plane.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Price:</label>
                <input type="text" ng-model="updatedFlight.price" class="form-control col-xs-3"/>
            </div>
            <div class="form-group">
                <label>Arrive Date:</label>
                <input type="date" ng-model="updatedFlight.arriveDate" class="form-control col-xs-3"/>
            </div>
            <div class="form-group">
                <label>Departure Date:</label>
                <input type="date" datetime="yyyy-MM-dd" ng-model="updatedFlight.departureDate" class="form-control col-xs-3"/>
            </div>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
</div>
