<div>
    <div class="col-sm-9">
        <h1>All planes</h1>
        <table class="table">
            <tr>
                <th>RID</th>
                <th>Name</th>
                <th>Seats</th>
                <th></th>
            </tr>
            <tr ng-repeat="plane in planes">
                <td>{{plane.rid}}</td>
                <td>{{plane.name}}</td>
                <td>{{plane.seats}}</td>
                <td><a ng-click="removePlane(plane)" class="btn btn-danger">Delete</a></td>
                <td><a ng-click="updateClick(plane)" class="btn btn-primary">Update</a></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3" ng-hide="updating">
        <h1>Add Plane</h1>
        <form ng-submit="save()">
            <div class="form-group">
                <label>Name Of Plane</label>
                <input type="text" ng-model="plane.name" class="form-control col-xs-3"/>
            </div>
            <div class="form-group">
                <label>Count of Seats</label>
                <input type="number" ng-model="plane.seats" class="form-control col-xs-3"/>
            </div>
            <button class="btn btn-success">Add</button>
        </form>
    </div>
    <div class="col-sm-3" ng-show="updating">
        <h1>Update Plane wtih rid {{updatedPlane.rid}}</h1>
        <form ng-submit="update()">
            <div class="form-group">
                <label>Name Of Plane</label>
                <input type="text" ng-model="updatedPlane.name" class="form-control col-xs-3"/>
            </div>
            <div class="form-group">
                <label>Count of Seats</label>
                <input type="number" ng-model="updatedPlane.seats" class="form-control col-xs-3"/>
            </div>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
</div>