<div>
    <div class="col-sm-8">
        <h1>All Carts</h1>
        <table class="table">
            <tr>
                <th>RID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="cart in carts">
                <td>{{cart.rid}}</td>
                <td>{{cart.first_name}}</td>
                <td>{{cart.last_name}}</td>
                <td>{{cart.email}}</td>
                <td><a ng-click="showLineItems(cart.rid)" class="btn btn-primary">Line Items</a></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 fixed-top-right" ng-hide="lineItems">
        <h2>No line items</h2>
    </div>
    <div class="col-sm-4 fixed-top-right" ng-show="lineItems">
        <h3>LineItems for cart #{{carId}}</h3>
        <table class="table">
            <tr>
                <th>RID</th>
                <th>Flight #</th>
                <th>Quantity</th>
                <th>Passenger Code</th>
            </tr>
            <tr ng-repeat="lineItem in lineItems">
                <td>{{lineItem.rid}}</td>
                <td>{{lineItem.flightId}}</td>
                <td>{{lineItem.quantity}}</td>
                <td>{{lineItem.hashCode}}</td>
            </tr>
        </table>
    </div>
</div>